

.lesson-four-task-one .btn:hover {
    color: red;      
    background-color: yellow;
}


.lesson-four-task-two .link:hover + .title {
    background-color: green;
}


.lesson-four-task-three .link:visited {
    color: yellow;
}


.lesson-four-task-four #sidebar .link:link {
    color: red;
}


.lesson-four-task-five .btn:active {
    background-color: blue;
}


.lesson-four-task-six .btn:focus {
    color: orange;
    background-color: orange;
}


.lesson-four-task-seven #target:target {
    color: white;
    background-color: green;
}


.lesson-four-task-eight #checkbox:checked ~ #target {
    color: white;
    background-color: blue;
}


.lesson-four-task-nine :lang(uk) {
    color: blue;
}


.lesson-four-task-ten :enabled {
    color: red;
    background-color: yellow;
}


.lesson-four-task-eleven :disabled {
    background-color: yellow;
}


.lesson-four-task-twelve input:not([readonly]) {
    background-color: yellow;
}


.lesson-four-task-thirteen input[readonly] {
    background-color: yellow;
}


.lesson-four-task-fourteen input:valid {
    background-color: green;
}

.lesson-four-task-fifteen input:invalid {
    background-color: red;
}


.lesson-four-task-sixteen textarea:optional {
    background-color: red; 
}


.lesson-four-task-seventeen input[type="number"]:out-of-range {
    color: red; 
}


.lesson-four-task-eighteen input[type="number"]:in-range {
    color: red; 
}


.lesson-four-task-nineteen input::placeholder {
    background-color: red;
}


.lesson-four-task-twenty input:placeholder-shown::placeholder {
    background-color: transparent;
}


.lesson-four-task-twenty .btn-group:focus-within button {
    color: white;
    background-color: yellow;
}


.lesson-four-task-twenty input:invalid {
    background-color: red;
}
